
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.LogonMainTable, .LogonContentWidth, .LogonContent {
    border-radius: 15px !important;
}

.LogonItemClassCSS .Caption, .LogonItemClassCSS .Caption {
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0.1px !important;
    padding-bottom: 5px;
    padding-left: 2px;
    color: rgb(189, 195, 199);
}

#Logon_PopupActions_Menu_DXI0_T {
    font-family: 'Montserrat', sans-serif !important;
}

#Logon_PopupActions_Menu ul #Logon_PopupActions_Menu_DXI0_T:hover {
    background-color: rgb(52, 73, 94) !important;
}

.LogonMainTable .LogonContentWidth {
    box-shadow: 0px 43px 47px -11px rgba(52, 73, 94,0.4);
    border-top: 15px outset #f0f2f3;
    border-bottom: 15px inset #f0f2f3;
    /*border-left:1px solid rgb(52, 73, 94);
    border-right:1px solid rgb(52, 73, 94);*/
}

#Logon_UPHeader #headerTableDiv, #Logon_UPHeader #headerTable {
    background: transparent !important;
    border: none !important;
    visibility: hidden;
}


@-moz-keyframes scrollBad {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -320px;
    }
}

@-webkit-keyframes scrollBad {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -320px;
    }
}

@keyframes scrollBad {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -320px;
    }
}



.LoginBody {
    /*background: linear-gradient(rgba(236, 240, 241,0.95), rgba(236, 240, 241,0.95)), url('../../Images/Human_Resource.jpg');*/
    background-image: url('../../Images/Human_Resource.jpg');
    background-size: 500px;
    background-position: center center;
    -moz-animation: scrollBad 22s linear infinite;
    -o-animation: scrollBad 22s linear infinite;
    -webkit-animation: scrollBad 22s linear infinite;
    animation: scrollBad 22s linear infinite;
}

.LogonTemplate .menuButtons .dxm-item {
    background-color: #2c3e50 !important;
}

    .LogonTemplate .menuButtons .dxm-item .dx-vam {
        color: #fff;
    }

    .LogonTemplate .menuButtons .dxm-item.dxm-hovered,
    .LogonTemplate .menuButtons .dxm-item.dxm-hovered a.dx {
        background-color: #34495e !important;
    }

.WebEditorCell td.dxic {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: white;
}

.dxeTextBox_XafTheme, .WebEditorCell td.dxic {
    border-radius: 5px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.logo_div {
    width: 100%;
    position: absolute;
    top: 15px;
    text-align: center;
}

    .logo_div img {
        width: 12%;
        position: relative;
    }

@media (max-width: 768px) {
    .logo_div img {
        width: 18%;
    }
}

@media (max-width: 600px) {
    .logo_div img {
        width: 25%;
    }
}

@media (max-width: 480px) {
    .logo_div img {
        width: 25%;
    }
}

@media (max-width: 450px) {
    .logo_div img {
        width: 35%;
    }
}

@media (max-width: 1366px) {
     .logo_div img {
        width: 35%;
    }
}
